* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.searcher__text {
  width: 350px;
  height: 45px;
}
