.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 20px;
}

.boton_acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  gap: 10px;
}

.results-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 3px;
  font-size: 1.3rem;
  margin: 10px 0;
}

.item-realizado {
  background-color: #0a4a63;
  color: #5dc74f;
}

.results__item {
  /* border: 3px solid #1f8fbb; */

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 3.1rem;
  color: #57cc99;

  font-weight: 600;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

span {
  border: 3px solid #1f8fbb;
  width: 500px;
  border-radius: 10px;
  padding-left: 32px;
}

i:hover {
  transition: all 300ms;
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}
