.results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

span {
  border: 3px solid #1f8fbb;
  width: 500px;
  border-radius: 10px;
}

.results__item {
  /* border: 3px solid #1f8fbb; */

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  margin-bottom: 15px;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 3.1rem;
  color: #57cc99;

  font-weight: 600;
}
/* CSS */
button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  background-image: linear-gradient(
    45deg,
    #3b944e 0%,
    #40ac71 51%,
    #013f15 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
}

.boton_acciones {
  display: flex;
  align-items: center;
  justify-content: center;
}
