* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Itim", cursive;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #009193,
    #007c8b,
    #00687f,
    #04536f,
    #15405c
  );
  /* background-size: 100% 100%; */
}
